{
  "extends": [
    "airbnb",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "jsx-a11y/media-has-caption": [0],
    "jsx-a11y/label-has-associated-control": [2, { "assert": "either" }],
    "jsx-a11y/label-has-for": [0],
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/react-in-jsx-scope": "off"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
