{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/media-has-caption": [0],
    "jsx-a11y/label-has-associated-control": [2, { "assert": "either" }],
    "jsx-a11y/label-has-for": [0]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
